@model Concessionaria

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="color: black;">
        @TempData["MensagemErro"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×
        </button>
    </div>
}
<h3>
    Atualize Uma Veiculo
</h3>
<hr />
<form asp-controller="Concessionaria" asp-action="Update" method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="form-group col-md-12 d-flex flex-column">
            <label asp-for="Nome" class="control-label">Nome da Concessionária</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 d-flex flex-column">
            <label asp-for="Endereco" class="control-label"></label>
            <input asp-for="Endereco" class="form-control" />
            <span asp-validation-for="Endereco" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 d-flex flex-column">
            <label asp-for="Cidade" class="control-label"></label>
            <input asp-for="Cidade" class="form-control" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4 d-flex flex-column">
            <label asp-for="Estado" class="control-label"></label>
            <input asp-for="Estado" class="form-control" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4 d-flex flex-column">
            <label asp-for="CEP" class="control-label"></label>
            <input asp-for="CEP" class="form-control"  />
            <span asp-validation-for="CEP" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 d-flex flex-column">
            <label asp-for="Telefone" class="control-label"></label>
            <input asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4 d-flex flex-column">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4 d-flex flex-column">
            <label asp-for="CapacidadeMaximaVeiculos" class="control-label"> Capacidade máxima de veiculos</label>
            <input asp-for="CapacidadeMaximaVeiculos" class="form-control" />
            <span asp-validation-for="CapacidadeMaximaVeiculos" class="text-danger"></span>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="btn-group">
            <div>
                <input asp-controller="Concessionaria" asp-action="Update" asp-route-FabricanteId="@Model.ConcessionariaId" class="btn btn-success" type="submit" value="Atualizar Veiculo" />
            </div>
            &nbsp;&nbsp;&nbsp;
            <div>
                <input class="btn btn-outline-info" asp-controller="Home" asp-action="Index" value="Voltar ao inicio" />
            </div>
        </div>

    </div>
</form>