@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Neoh Concessionaria</h1>
    <h4>Aqui você poderá Gerenciar as vendas de suas </h4>
    <h4> concessionarias sem dor de cabeça.</h4>
</div>
